<html><head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.css">
  <style>
  ul.results
  {
      color:#888;
  }
  ul.results b
  {
      color:#000;
  }
  </style>
</head>
<body cz-shortcut-listen="true">

  <div class="container">
      <h1>Fuzzy Matching Demo</h1>
      <div class="form-group">
          <input class="form-control" type="text" name="search" placeholder="Search javascript links from Reddit">
      </div>
      <ul class="results">
<li>Showoff Saturday (July 04, 2020)</li>
<li>WTF Wednesday (July 08, 2020)</li>
<li>Perf Track - see how popular frameworks are used across the web</li>
<li>Web Monetization · A JavaScript browser API which allows the creation of a payment stream from the user agent to the website</li>
<li>react native 0.63.0 is here: Release v0.63.0 · facebook/react-native · GitHub</li>
<li>[AskJS] Do you think Javascript is a good programming language to learn in 2020 or the Java stack or C# stack with Blazor etc are more suited for webdev and a stable career ?</li>
<li>[AskJS] Coming from Processing, p5js got me into Js, but clueless with “canvas”</li>
<li>Debounce Explained – How to Make Your JavaScript Wait For Your User To Finish Typing</li>
<li>[AskJS] Insightful JS questions/answers</li>
<li>A HTML5/Javascript/CSS presentation engine with an original concept inbetween standard slides and prezi</li>
<li>A treatise on JavaScript dependencies</li>
<li>Improve performance of your React app with Debouncing, build your own useDebounce() hook!</li>
<li>Buy vs. build for web features</li>
<li>Bumblebee - a JavaScript voice app framework</li>
<li>Sorting arrays in JavaScript</li>
<li>[AskJS] Reducing number of different version of a package</li>
<li>Visualising Front-End Performance Bottlenecks</li>
<li>[AskJS] How do you denote which variables contain promises? What do you think of using $varname as a naming convention?</li>
<li>Wrote a small library for generating text based avatars in SVG like Gmail does.</li>
<li>Getting the API to return something, anything! AC Slayers Part 2</li>
<li>Understand JavaScript’s Generators in 3 minutes</li>
<li>Creating an Auto Chess Stats Site (TFT focused) Part 1</li>
<li>What would you choose for web development?</li>
<li>Any help? Especially with coding?</li>
<li>dual-publish: a tool to maintain dual ESM/CJS npm packages</li>
<li>I built this really simple markdown like syntax parser</li>
<li>[AskJS] Is there any way to have "garbage collected" event handle?</li>
<li>Implementing VCdiff in Javascript for open source client libraries and the reasoning behind it</li>
<li>[AskJS] GUI live editor for javascript Object</li>
<li>Bringing the power of customization through user scripts back to browsers with the Platypush browser extension</li>
<li>Created a dead weight search library for fast client-side searching of data. Idk, might help someone?</li>
<li>Serverless: a backend thing that gives superpowers to frontend developers</li>
<li>1 Kilobyte JavaScript Piano Open Source on GitHub</li>
<li>Building a multiplayer game using WebSockets - Part 1</li>
<li>1-minute-set-up express middleware for file upload</li>
<li>DFlex/DnD: A Simple &amp; Light Solution for a Progressive Drag and Drop App</li>
<li>NexQuiz- You think you know Javascript</li>
<li>How a DevTools Extension is Made</li>
<li>Hey r/javascript! the Node.js API hosting site "Standard Library" is now Autocode.com. We'd love for you to check it out! (x-post r/node)</li>
<li>Bindable - Component library for Aurelia</li>
<li>An Approach to JWT Authentication</li>
<li>I made a simpler alternative to nodemon. let me know what you think!</li>
<li>I started writing a testbed to compare Ammo.js/Cannon.js/Oimo.js/PhysX-js (top-left gives the physics simulation time)</li>
<li>New bundle-lib to let you write React-like apps without compiling anything</li>
<li>Resizing Rotated Elements</li>
<li>I make my first Electron application that document your journey as Junior developer in a timelapse video which takes screenshots of my screen, merge them and add a soundtrack</li>
<li>State of Frontend 2020 Survey</li>
<li>An experimental React-like framework inspired by syntax features of SwiftUI, and built off of React itself.</li>
<li>I made a new and better discord bot for current coronavirus cases and visualizations</li>
<li>Modern Redux with Redux Toolkit</li>
<li>Here's a tiny, beautiful, declarative keybinding library that makes it simple to add keyboard shortcuts to your web projects!</li>
<li>Architecting Frontend Projects To Scale</li>
<li>FLAC/WAVE identification lib that reads file headers before upload [OC]</li>
<li>Using WASM and D3 for super fast data viz: NYC Covid Data Trends</li>
<li>Periodic Background Sync Explained - Explaining the JavaScript API and how to use it</li>
<li>Why you should not use your app state as a remote data cache</li>
<li>[AskJS] What does set apart those two people?</li>
<li>Rust for JavaScript Developers - Functions and Control Flow</li>
<li>How to handle WebPush API PushSubscriptionChange event in modern browsers</li>
<li>Your own property based testing framework - Part 2: Runners</li>
<li>Your /r/javascript recap for the week of June 29 - July 05</li>
<li>I've added a serverless back-end to Angular to have extra time to focus on the logic and the UI.</li>
<li>ESlint and Prettier for React apps (Bonus - Next.js and TypeScript)</li>
<li>The complete guide about design systems: walkthrough</li>
<li>Making custom import paths in Typescript and JavaScript projects</li>
<li>Svelte.js and Malina.js</li>
<li>CA11 - WebRTC-based (video) telephony and conferencing</li>
<li>I wasn't satisfied with existing social share buttons so I made my own — they look nice and don't track you</li>
<li>I made a new way to throw online parties - All in JavaScript</li>
<li>Using Vercel as a framework!</li>
<li>New ES2020 features - (??) and (?.) Check this blogpost to know what they mean.</li>
<li>Reactive Context in Svelte</li>
<li>DNS Resolution and Records for Developers</li>
<li>mediakit: a package to stop audio elements playing at the same time</li>
<li>Do you want to make an impact to improve the way App development works? The opensource neomjs UI framework project is looking for more contributors.</li>
<li>[AskJS] Desktop app or web app for creating mock server</li>
<li>Vue Composition API for automatic fetch data when condition has been changed</li>
<li>Celebrate 4th of July with fireworks - 60 lines of pure JS</li>
<li>immurl - An immutable alternative to the native URL API</li>
<li>tsParticles - What particles.js could be if it wasn't abandoned years ago</li>
<li>Don't make assumptions about JS performance</li>
<li>Avoid writing Javascript when working with classes. It only takes up 1Kb!</li>
<li>Understanding Javascript Array's .reduce() method and exploring its use-cases</li>
<li>Atomically - Write files atomically and reliably</li>
<li>A WYSIWYG WebAssembly client-side LaTeX Editor, supporting PDFTeX and XeTeX</li>
<li>Understading JSON Web Token</li>
<li>jsplot - tiny website/tool where you can paste any js code that returns a number sequence to plot it</li>
<li>Handling Multiple Inputs FrontEnd Frameworks [React, Vue and Sevelt]</li>
<li>Introduction to Progressive Web App with example in Vanilla JS</li>
<li>financial: A TypeScript/JavaScript financial library for Node.js, Deno and browser</li>
<li>Our tech stack on building blockchain-based social media</li>
<li>Build your own JavaScript property based testing framework - Let's take a deep dive into the internals of property based testing through this tutorial explaining how fast-check framework has been built (part 1 over 4)</li>
<li>Lightweight Vue 3 without Webpack with router, lazy-loading components</li>
<li>Mastering Promise.allSettled in React</li>
<li>Find fully functional hosted features for your WebApp</li>
<li>Found my first bug in the V8 engine</li>
<li>Im making a Visual Based Programming Language for Discord Bots</li>
<li>A database software completely built as JSON files in backend. A powerful, portable and simple database works on top of JSON files.</li>
<li>How to call a function on URL change in javascript</li>
<li>"Under-the-hood of VSCode auto formatters (e.g Prettier)" - I look to shine a light on some of the fundamentals at work inside an auto formatter extension.</li>
<li>Hackable, composable callbacks</li>
<li>Practical Functional Programming in JavaScript - Side Effects and Purity</li></ul>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

// Sore the titles in here
index = [];

function fuzzy_match(text, search)
{
/*
Text is a title, search is the user's search
*/
// remove spaces, lower case the search so the search is case insensitive
var search = search.replace(/\ /g, '').toLowerCase();
var tokens = [];
var search_position = 0;

// Go through each character in the text
for (var n=0; n<text.length; n++)
{
  var text_char = text[n];
  // if we watch a character in the search, highlight it
  if(search_position < search.length && text_char.toLowerCase() == search[search_position])
  {
      text_char = '<b>' + text_char + '</b>';
      search_position += 1;
  }
  tokens.push(text_char);
}
// If are characters remaining in the search text, return an empty string to indicate no match
if (search_position != search.length)
{
  return '';
}
return tokens.join('');
}

function refresh_search()
{
var search = $('input[name=search]').val();
var results = [];

/*
  Create an array of <li> tags containing matched titles
*/
$.each(index, function(i, title){
  var result = fuzzy_match(title, search)
  if(result){
      results.push("<li>" + result + "</li>")
  }
});

var results_html = results.join('\n');
$("ul.results").html(results_html);
}

$(function(){

$('input[name=search]').keyup(function(){
  /*
  Refresh the search on every keypress in the search input
  */
  refresh_search();
});

/*
  Get a list of titles from Reddit's REST interface
*/
$.getJSON(
  'https://www.reddit.com/r/javascript/hot.json?limit=100',
  function(result){
      index = [];
      $.each(result.data.children, function(i, link){
          index.push(link.data.title);
      });
      refresh_search();
  });

});
</script>



</body></html>